# Gestión de nuestos datos

### pandas

In [11]:
# librerias a utilizar
import pandas as pd

In [51]:
# podemos decirle a pandas que solo recoja un número de lineas del archivo
df = pd.read_csv("data/telepan.txt", nrows=8)

In [52]:
# observamos nuestros datos
df
# df.head(8)
# df.head(8).describe()
# df.tail(2)

# para los atributos no es necesario poner los paréntesis, para el caso de métodos/funciones entonces sí los ponemos
df.columns
# df.values # array con solo los datos

Index(['cliente', 'total'], dtype='object')

In [53]:
# a modo de reordenar nuestra base de datos para temas de anonimato, usamos un truco con sample
df_reordenado = df.sample(frac=1)
df_reordenado

   cliente  total
5        6    1.5
0        1    4.5
7        8    4.5
2        3   23.4
1        2   11.2
6        7    0.5
3        4    4.5
4        5   15.4

In [54]:
# tipos de variables, int, float, object (=string)
df.dtypes

cliente      int64
total      float64
dtype: object

### filtrado de los datos

In [68]:
df['total'] # solo una columna
df[1:3] # solo filas, ojo con el rango de :autoexcluyente
df[df['total'] > 10] # filtrado selectivo
df[(df['total'] > 10) & (df['cliente'] <= 2)] # filtrado combinado
df[(df['total'] > 10) | (df['cliente'] <= 2)] # filtrado combinado

   cliente  total
0        1    4.5
1        2   11.2
2        3   23.4
4        5   15.4

In [74]:
df[df['cliente'].isin([2, 4])] # filtrado por listado, todo lo visto funciona también en el caso de 'cadenas'
# df['cliente'].isin([2, 4])

   cliente  total
1        2   11.2
3        4    4.5

In [78]:
df[pd.isna(df['cliente'])] # filtramos mi df a todos aquellos cuya columna valor sea nan
# pd.isna(df['cliente'])

Empty DataFrame
Columns: [cliente, total]
Index: []

### transformaciones de los datos

In [84]:
# columna nueva con el 21% de iva aplicado, aplicamos redondeo con 2 decimales
df['total_IVA'] = round(df['total'] * 1.21, 2)
df

df['columna para borrar'] = df['total'] / 49
df

   cliente  total  total_IVA  columna para borrar
0        1    4.5       5.44             0.091837
1        2   11.2      13.55             0.228571
2        3   23.4      28.31             0.477551
3        4    4.5       5.44             0.091837
4        5   15.4      18.63             0.314286
5        6    1.5       1.82             0.030612
6        7    0.5       0.60             0.010204
7        8    4.5       5.44             0.091837

In [85]:
# eleminar columna
del(df['columna para borrar'])
df

   cliente  total  total_IVA
0        1    4.5       5.44
1        2   11.2      13.55
2        3   23.4      28.31
3        4    4.5       5.44
4        5   15.4      18.63
5        6    1.5       1.82
6        7    0.5       0.60
7        8    4.5       5.44